.sortButton{
  cursor: pointer;
}

.codeStar{
  color: goldenrod
}

.codeStarTd{
  text-align: right;
}

.githubAvatar{
  display: inline;
  margin: 20px;
  float: right;
}


.fullWidthAspect{
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.portfolioImg{
  width: 100%;
  height: 100%;

}

.fullWidthAspect > iframe, .fullWidthAspect > a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.bigNumber {
  font-size: 1.5em;
  color: #383C9F;
}