<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <h1 class="pageHeadline">about</h1>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12 well">
        <img class="img-rounded githubAvatar" ng-src="{{uc.user.data.avatar_url}}">
        <h3>my <a href="https://github.com/abiessener" target="_blank">github</a> bio</h3>
        <p>{{uc.user.data.bio}}</p>
        <p>{{uc.user.data.location}}.</p>
        <p></p>
        <hr>
        <p>
          <span class="bigNumber">{{uc.user.data.public_repos}}</span> public repos. 
          <span class="bigNumber">{{uc.user.data.total_private_repos + uc.user.data.public_repos}}</span> total repos.
        </p>
      </div>

    </div>
  </div>
</div>