<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <h1 class="pageHeadline">portfolio</h1>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12 well">
        <h2>in another life...</h2>
        <p>My pre-coding career had some decent highlights. I am so thankful to everyone who gave me the opportunities to walk
          the road that has led me here. Some of my favorite moments, immortalized online:</p>
        <hr>
        <h2>on stage at e3</h2>
        <div class="fullWidthAspect">
          <iframe class="youTubeEmbed" src="https://www.youtube.com/embed/M2YPs0AkzvU" frameborder="0" allowfullscreen></iframe>
        </div>
        <br/>
        <p>This was fun. I got to present the game I was working on at the time - Ashes of the Singularity - to a live theater
          audience and of course a gajillion livestream viewers.</p>


        <hr>
        <h2>game dev</h2>
        <div class="fullWidthAspect">
          <a target="_blank" href="http://cdn.edgecast.steamstatic.com/steam/apps/579270/ss_a88158ef54c1f2cf5f77062ab16cafb628cecf54.jpg?t=1492111402"><img class="portfolioImg" src="http://cdn.edgecast.steamstatic.com/steam/apps/579270/ss_a88158ef54c1f2cf5f77062ab16cafb628cecf54.jpg?t=1492111402"></a>
        </div>
        <br/>
        <p> I built the vast majority of the single-player content for Stardock's Ashes of the Singularity, a sci-fi real-time strategy game for Windows. Learning (and later extending the functionality of) the custom XML parser that the engine uses to create game scripts was a, well, a unique challenge. I'm extremely proud of what I was able to design and implement.</p>
        <p> Ashes was always intended to be a 'skirmish' game (where two or more evenly matched players battle across symmetrical maps), but I made some pretty darn cool asymmetric single-player scenarios nonetheless.</p>
        <hr>
        <h2>witcher 3 cover</h2>
        <div class="fullWidthAspect">
          <iframe class="youTubeEmbed" src="https://www.youtube.com/embed/8gIsYuPIKco" frameborder="0" allowfullscreen></iframe>
        </div>
        <br/> Also fun: Interviewing the team behind The Witcher 3: Wild Hunt, recording videos, writing the Game Informer
        cover story, and producing and coordinating a month of digital content to go with it.
        <hr>
      </div>
    </div>
  </div>
</div>